.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.canvas {
  width: 75%;
  margin-top: 1.5rem;
  border-radius: 10px;
  outline: none;
  cursor: grab;
}

a {
  text-decoration: none;
  color: rgba(221, 220, 220, 0.918);
}

a:hover,
.navbar i:hover {
  color: rgb(114, 176, 247);
  text-shadow: 0 0 7px #e6e6e6, 0 0 45px rgb(114, 141, 231),
    0 0 90px rgb(114, 176, 247);
}

.routing {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.routing li {
  font-size: 1.5rem;
  margin-right: 2rem;
}

.routing .seperator {
  padding-right: 2rem;
  border-radius: 2px;
  border-right: rgb(111, 151, 196) solid 2px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 3rem;
  box-shadow: 0 0 5px 0.5px rgb(83, 157, 241);
}

.navbar {
  cursor: pointer;
}

.navbar i {
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  text-shadow: 0 0 7px #e6e6e6, 0 0 45px rgb(114, 141, 231);
}

.map {
  width: 90%;
  margin: auto;
  height: 70vh;
  border-radius: 10px;
}

.active,
.active:hover {
  color: white;
  text-shadow: 0 0 7px #e6e6e6, 0 0 45px rgb(114, 141, 231),
    0 0 90px rgb(114, 176, 247);
}

.screenshot-btn {
  background-color: #212121;
  color: white;
  padding: 0.7rem 1.5rem;
  margin-top: 1.5rem;
  font-size: medium;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 10px 0.5px rgb(83, 157, 241);
  cursor: pointer;
  text-shadow: 0 0 7px #e6e6e6, 0 0 45px rgb(114, 141, 231),
    0 0 90px rgb(114, 176, 247);
}

.screenshot-btn:hover {
  background-color: white;
  color: #212121;
  text-shadow: 0 0 10px black, 0 0 45px rgb(114, 141, 231);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.notification-modal {
  position: absolute;
  background-color: #dfdddd;
  display: flex;
  color: #212121;
  align-items: center;
  top: 3rem;
  right: 1rem;
  padding: 0.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.notification-modal div {
  width: max-content;
  text-align: left;
  padding: 0 2rem;
}

.notification-modal i {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 21px;
  cursor: pointer;
}

.notification-modal p {
  font-size: 14px;
}

.notification-modal img {
  width: 100px;
  height: 100px;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

a.mapbox-improve-map {
  display: none !important;
}

.target {
  background-color: transparent;
  border: #212121 solid 0.5px;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px 0.5px #212121;
  pointer-events: none;
}

.relative {
  position: relative;
}
